ui-test/
bcros/
env/
ui-test/imgs/
js/imgs/
out/
*.swo
*.swp
*.png
*.pdf
*.map
js.old/*
js/*.js
js/data.json
js/display.html
js/jquery.min.js
js/node_modules/
js/package-lock.json
js/tests/data.js
js/tests/qunit*
ocr/data.json
ocr/scanner/microcode
parsem.py
